services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    container_name: user-keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_ENABLED: true
    ports:
      - "8080:8080"
    command: start-dev
    networks:
      - user-network

  user-service:
    build: .
    container_name: user-service
    ports:
      - "8081:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
      - redis
      - keycloak
    networks:
      - user-network

  postgres:
    image: postgres:15-alpine
    container_name: user-postgres
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - user-network

  redis:
    image: redis:7-alpine
    container_name: user-redis
    ports:
      - "6379:6379"
    networks:
      - user-network

volumes:
  postgres-data:

networks:
  user-network:
    driver: bridge