spring:
  config:
    activate:
      on-profile: local
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: fhgRDC56
  data:
    redis:
      host: localhost
      port: 6379
  liquibase:
    enabled: false

server:
  port: 8081