spring:
  config:
    activate:
      on-profile: docker
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  datasource:
    url: jdbc:postgresql://postgres:5432/userdb
    username: user
    password: password
  data:
    redis:
      host: redis
      port: 6379
  liquibase:
    change-log: classpath:db/changelog/schema-changelog.yaml
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/app-realm

server:
  port: 8080

logging:
  level:
    com.example.userservice: INFO